.wrapperPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperForm {
  font-size: 20px;
  font-weight: bold;
}

.form {
  color: #1E90FF;
  padding: 8px;
}

.title {
  border-bottom: 1px solid #333333;
  padding: 8px 0px;
  margin-bottom: 8px;
  display: flex;
}

.enter {
  border-right: 3px solid #1E90FF;
  margin-left: 40px;
  padding-right: 30px;
}

.register {
  padding-left: 30px;
}

.enterText,
.registerText {
  text-decoration: none;
  color: #1E90FF;
}

.enterText:focus, .registerText:focus {
  text-decoration: none;
  color: #333333;
}