.header {
    background-color: rgb(4, 12, 136);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 13vh;
}

.navigation {
    display: flex;
    color: rgb(231, 231, 231);
}

.navElem {
    color: rgb(194, 192, 192);
    font-size: 22px;
    height: 80px;
    display: flex;
    margin: 0 auto;
}

.inner {
    margin: auto 10px;
}

.mainLogo {
    display: flex;
    margin-top: auto;
    padding: 20px;
}

.navElem:hover {
    cursor: pointer;
    color: white;
}

.headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 174, 174);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.headerBtn:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.icon {
    font-size: 40px;
    color: rgb(138, 14, 14);
}

.arms {
    margin-top: auto;
    margin-left: 10px;
}

.nav {
    display: flex;
    margin: auto;
    margin-left: 25px;
    padding: 15px 0px;
}

.button {
    display: flex;
    margin-right: 15px;
}

.button p {
    color: white;
    font-size: 25px;
    margin: auto 0;
    margin-right: 15px;
}

.button button {
    margin: auto;
}